<!DOCTYPE html>
<html>
  <head>
    <title>YEgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <nav>
      <%= link_to 'LogYEout', destroy_user_session_path, method: :delete %>        
      <%= link_to 'hYEome', root_path %>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
